* {
  
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}
html{
  background-color: #112A4A;
}
.download-btn{
    
  
  color: #112A4A;
  padding: 0rem 0rem;
  font-size: 2rem;
  text-decoration: none;
  border-radius:5px;

}



section {
  background-color: #112A4A;
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}
.row {
  
  background-color: #112A4A;
  display: flex;
  flex-wrap: wrap;
}
.column {
  height: 50vh;
  background-color: #112A4A;
  width: 100%;
  padding: 0 1em 1em 1em;
  text-align: center;


}

.card {
  width: 100%;
  height: 100%;
  padding: 2em 1.5em;
  background: linear-gradient(#FFBD59 50%, #112A4A 50%);
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  
  transition: 0.5s;
}
h3 {
  font-size: 20px;
  font-weight: 600;
  color: #112A4A;
  margin: 1em 0;
}
h2 {
  font-size: 40px;
  font-weight: bold;
  color: #FFBD59;
  margin: 1em 0;
}
p {
  font-weight: bold;
  color: #112A4A;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
.icon-wrapper {
  background-color: #112A4A;
  position: relative;
  margin: auto;
  font-size: 30px;
  height: 2.5em;
  width: 2.5em;
  color: #FFBD59;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;

}
@media screen and (min-width: 768px) {
  section {
    
    padding: 0 2em;
  }
  .column {
    height: 40vh;
    flex: 0 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 992px) {
  section {
    
    padding: 1em 3em;
  }
  .column {
    height: 40vh;
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}
